* {
  font-family: sans-serif;
  color: #424347;
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
}
p {
  margin: 0;
}

.layout {
  padding: 20px;
  background-color: #f0f0f0;
  height: 100%;
}

/* position this far outside of the window since it's used only for copy to clipboard functionality */
.textarea-for-clipboard {
  opacity: 0;
  position: absolute;
  top: -9999px;
}

#generated-code {
  background-color: #1d1d1d;
  border-radius: 8px;
  border: 2px #ddd solid;
  padding: 16px 20px;
  width: 100%;

  font-family: 'Fira Code', monospace;
  font-size: 14px;
  color: #5497c3;
  white-space: pre-wrap;

  max-height: 280px;
  overflow: auto;
}

.switch-css-format {
  margin-top: 12px;
}

.switch-unit-type {
  margin-top: 12px;
}

.button-layout {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.copy-button {
  border: none;
  padding: 12px 20px;
  border-radius: 8px;
  background-color: #16949f;
  color: #fff;
  cursor: pointer;
}

.default-text {
  color: #5497c3;
}
.variable-name {
  color: #cccca8;
}
.function-text {
  color: #93c3ef;
}
.return-text {
  color: #b586b2;
}
.expression-text {
  color: #fff;
}
.type-text {
  color: #4fccb0;
}
.tag-text {
  color: #777;
}
.tag-name-text {
  color: #4fccb0;
}
.string-text {
  color: #cb9178;
}
